.footer-wrapper{
    max-width: 90rem;
    margin:0 auto;

    /* position: relative; */
}

.subscribe_block {
  text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.subscribe_email {
  border: 0rem;
  background-color: rgb(248, 243, 243);
  padding: 0.7rem;
  border-radius: 10rem 0 0 10rem;
}
.subscribe_email_btn {
  padding: 0.6rem;
  background-color: #fe5b2e;
  border: 0rem;
  color: white;
  border-radius: 10rem;
  margin-left: -2rem;
  cursor: pointer;
  
  background-color: #ff9274;
}
.footer_block{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #faece8;
    padding: 2rem;
  }
  
  .contact_us{
    /* display: flex; */
    grid-column: span 3;
  }
  
  .info_block{
    grid-column: span 3;
    text-align: center;
  }
  
  .quick_links{
    grid-column: span 3;
  }
  
  .help{
    grid-column: span 3;
  }
  .help p{
    cursor: pointer;
  }
  
  .contact_us img{
    height: 1.5rem;
  }
  .invalid-feed {
    color: red;
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  @media screen and (max-width: 44rem) {
    .footer_block{
      grid-template-columns: repeat(1, 1fr);
      padding:1rem;
    }
    .contact_us{
      grid-column: span 1;
      padding:1rem;
    }
    .info_block{
      grid-column: span 1;
      padding:1rem;
    }
    .quick_links{
      grid-column: span 1;
      padding:1rem;
    }
    .help{
      grid-column: span 1;
      padding:1rem;
    }

    .css-waves {
      height: 40px;
      min-height: 40px;
    }
    
  }


/* {wave} */
.css-waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; 
  min-height: 100px;
  max-height: 150px;
}


.animated-waves > use {
  animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.animated-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.animated-waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.animated-waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.animated-waves > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes infinite-waves {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


